// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* 로그인 텍스트 box 부분 */
.login {
    width: 632px;
    height: 65px;
    font-size: 29.2px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.22;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: auto;
    margin-bottom: 50px;
}